sop.softgata.localhost {
	reverse_proxy app:3000
	redir /sitemap.xml /public/sop/sitemap.xml
	redir /robots.txt /public/sop/robots.txt
	redir / /sop/sops

	encode zstd gzip
	templates
	file_server browse

}


admin.softgata.localhost {
	reverse_proxy /mongo-express* mongo-express:8081
	redir / /mongo-express
}