{% extends "sop/base.html" %}

{% block main %}


<hgroup class="block mt-6">
    <h1 class="title">
        About us
    </h1>
</hgroup>


<div class="content">

    <p>
        This web application was created to help teams efficiently handle Standard Operating Procedures (SOPs).
    </p>

    <p>
        The platform offers Subject Matter Experts (SMEs) in your team the ability to create SOPs and allows other
        members in your team to find what they need to solve issues in one easy-to-search place. It provides insights
        into which SOPs need more clarification and which SOPs are missing based on user feedback.
    </p>

    <p>
        With this software, companies can increase productivity, reduce learning time for new employees, and provide a
        quick-to-search reference for existing employees.
    </p>


    <p>Making software since 2017 feel free to <a href="/sop/contact">
            <strong>get in touch</strong>.
        </a>
    </p>

    <h5>Legal</h5>
    <ul>
        <li>CLIMENTE ALIN IONEL PFA</li>
        <li>CIF: 43000098</li>
        <li>Nr. înmatriculare: F22/1029/2020</li>
        <li>EUID: ROONRC.F22/1029/2020</li>
        <li>Sediul: Iasi, Romania</li>
    </ul>

</div>


{% endblock main %}