{% extends "sop/base.html" %}

{% block main %}


<hgroup class="block mt-6">
    <h1 class="title">
        Cookie policy
    </h1>
</hgroup>


<div class="content">

    <p>
        This cookie policy explains how we use cookies on our web application that uses cookie token authentication. By
        using our web application, you consent to our use of cookies in accordance with this policy.
    </p>

    <h2>What are cookies?</h2>

    <p>
        Cookies are small text files that are stored on your device when you visit a website. They are widely used to
        make websites work or to work more efficiently, as well as to provide information to the owners of the site.
    </p>

    <h2>How do we use cookies?</h2>

    <p>
        We use cookies to authenticate users who log in to our web application using cookie tokens. These cookies help
        us identify you and provide you with access to the features of our web application.

        We also use cookies to collect information about how visitors use our web application. We use this information
        to compile reports and to help us improve the web application.
        Cookies are saved in your browser only for authentificated users.
    </p>


    <h2>How can you control cookies?</h2>

    <p>
        You can control and/or delete cookies as you wish - for details, see aboutcookies.org. You can delete all
        cookies that are already on your computer and you can set most browsers to prevent them from being placed. If
        you do
        this, however, you may have to manually adjust some preferences every time you visit a site and some services
        and
        functionalities may not work.
    </p>

</div>


{% endblock main %}