{% extends "sop/base.html" %}

{% block main %}


<hgroup class="block mt-6">
    <h1 class="title">
        GDPR
    </h1>
</hgroup>


<div class="content">

    <p>
        This GDPR policy outlines how we collect, use, and protect your personal data when you use our website. We are
        committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which
        you
        can be identified when using this website, then you can be assured that it will only be used in accordance with
        this
        privacy statement.
    </p>

    <h2>Introduction</h2>

    <p>
        This GDPR policy outlines how we collect, use, and protect your personal data when you use our website. We are
        committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which
        you can be identified when using this website, then you can be assured that it will only be used in accordance
        with this privacy statement.
    </p>

    <h2>Scope</h2>

    <p>
        This policy applies to all personal data collected by us through our website. We collect only the information
        provided by you when creating an account and using the application.
    </p>

    <h2>Purpose</h2>

    <p>
        We require this information to understand your needs and provide you with a better service. More specifically,
        for improving the application and fixing any potential issues that may alter your experience while using the
        app.
    </p>

    <h2>Security</h2>

    <p>
        We are committed to ensuring that your information is secure. In order to prevent unauthorized access or
        disclosure. We are making regular security updates and
        trying to the best of our abilities to make this website and the data it holds safe and secure.
    </p>

    <h2>Control</h2>

    <p>
        We will not sell, distribute or lease your personal information to third parties unless we have your permission
        or
        are required by law to do so.
    </p>

    <h2>Conclusion</h2>

    <p>
        We hope this GDPR policy has helped clarify how we handle user data on our website. If there's anything else we
        can help with or if there's anything else that needs clarification please let us know.
    </p>

</div>


{% endblock main %}