{% extends "sop/base.html" %}

{% block head %}
<link href="/public/cdn.quilljs.com_1.3.6_quill.snow.css" rel="stylesheet">

<style>
    .ql-editor {
        all: unset;
    }

    .ql-container {
        font-size: 16px;
    }

    .no-resize-scrollbar {
        resize: none;
        overflow: hidden;
        padding: 5px;
    }

    .ql-toolbar.ql-snow {
        display: none;
    }

    .ql-container.ql-snow {
        border: none;
    }
</style>

{% endblock head %}


{% block main %}


<div x-data="create_quill_sop_data('{{sop.sop_id}}')">

    <section class="content section">

        <h6 class="has-text-grey">Title</h6>
        <h1 class="has-text-weight-bold mt-0 mb-5">{{ sop.title }}</h1>

        <h6 class="has-text-grey mt-6">Purpose</h6>
        <p class="mb-5">{{ sop.purpose }}</p>

        <h6 class="has-text-grey">Application</h6>
        <p class="mb-5">{{ sop.application }}</p>

        <div>

            <p class="tags">
                <label class="label has-text-grey">Topic(s): </label>
                {% for top in sop.topics %}
                <span class="tag">{{top}}</span>
                {% endfor %}
            </p>

        </div>

        <h6 class="has-text-grey mt-6">Procedure steps</h6>
        <div id="text-editor"></div>

        {% if is_writer %}

        <div class="buttons is-pulled-right mt-6" x-data="{confirmDelete: false}">
            <a x-cloak x-show="!confirmDelete" href="/sop/update-sop/{{sop.sop_id}}"
                class="button is-link is-light">Update SOP</a>

            <a x-cloak x-show="!confirmDelete" class="button is-danger is-light"
                x-on:click.prevent="confirmDelete = true;">Delete SOP</a>

            <a x-cloak x-show="confirmDelete" href="/sop/delete-sop/{{sop.sop_id}}"
                class="button is-danger is-light">Yes, delete it</a>

            <a x-cloak x-show="confirmDelete" x-on:click.prevent="confirmDelete = false;"
                class="button is-success is-light">No, cancel</a>

        </div>

        {% else %}

        <div class="buttons is-justify-content-center mt-6" x-data="{rated: false}">

            <p x-cloak x-show="rated" class="has-text-success">Your rating was saved!</p>

            <button x-cloak x-show="!rated" x-on:click="rateSOP(true); rated = true;"
                class="button is-success is-light">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg" viewBox="0 0 16 16">
                    <path
                        d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                </svg>
            </button>

            <button x-cloak x-show="!rated" x-on:click="rateSOP(false); rated = true;"
                class="button is-danger is-light">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg" viewBox="0 0 16 16">
                    <path
                        d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z" />
                </svg>
            </button>

        </div>

        {% endif %}

    </section>
</div>



<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script>

    const quill = new Quill('#text-editor', {
        theme: 'snow',
        readOnly: true,
        modules: {
            toolbar: []
        }
    });

    quill.setContents({{ sop.quill | safe }});

</script>


{% endblock main %}